body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fdd70085, #000000ab, #000000);
  color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(71, 70, 70, 0.432);
  border-radius: 16px;
  padding: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  text-align: center;
  width: 320px;
}

input, select, button {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

input, select {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000000;
}

button {
  background: #00c9ff;
  background: linear-gradient(to right, #fdd70028, #FDD700);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.selects {
  display: flex;
  gap: 10px;
}
